<ion-header>
    <ion-toolbar>
      <ion-title>
        Sınav Sonucu
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
        <h2>Puan</h2>
        100
    </ion-card>
    <ion-card>
        <h2>Doğru Sayısı</h2>
        100
    </ion-card>
    <ion-card>
        <h2>Yanlış Sayısı</h2>
        100
    </ion-card>
    <ion-card>
        <h2>Boş Sayısı</h2>
        100
    </ion-card>
  </ion-content>