<ion-card>
  <ion-card-header>
    <span style="font-size:22px;"> Özeren Sürücü Kursu</span>
      <button style="font-size:20px;position:relative;top:-6px" float-right clear ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
  </ion-card-header>
  <ion-card-content style="background-color:#e6e6e6;padding-left: 5px;padding-right: 5px">
    <ion-grid style="padding:0">
      <ion-row>
        <ion-col col-12>
          <button text-wrap style="position:relative;height:100%;padding:40px 0;background: darkred;color: white"
            margin-bottom full ion-button color="light" (click)="solveTest()" icon-only>
            <ion-icon style="
            transform: rotate(30deg);
            top: 5px;
            right: -40px;
            position:absolute;
            color:#ffffff38;
            font-size:85px"
              text-left name="logo-buffer"></ion-icon>
            <span style="font-size:17px;">Sınav Sorularını Çöz</span>
          </button>
        </ion-col>
        <ion-col col-12>
          <button text-wrap style="position:relative;height:100%;padding:40px 0;background: #427feb;color: white"
            margin-bottom full ion-button color="light" (click)="randomTest()" icon-only>
            <ion-icon style=" 
            transform: rotate(30deg);
            top: 5px;
            right: -40px;
            position:absolute;
            color:#ffffff38;
            font-size:85px"
              text-left name="repeat"></ion-icon>
            <span style="font-size:17px;">Karışık Soru Çöz</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button text-wrap style="position:relative;height:100%;padding:40px 0;background: #e13838;color: white"
            margin-bottom full ion-button color="light" (click)="randomTest()" icon-only>
            <ion-icon style="
            transform: rotate(30deg);
            top: 5px;     
            right: -40px;        
            position:absolute;     
            color:#ffffff38;  
            font-size:85px"
              text-left name="paper"></ion-icon>
            <span style="font-size:17px;">Konu Çalış</span>
          </button>
        </ion-col>
        <ion-col col-12>
          <button text-wrap style="position:relative;height:100%;padding:40px 0;background: #28b150;color: white"
            margin-bottom full ion-button color="light" (click)="randomTest()" icon-only>
            <ion-icon style="
            transform: rotate(30deg);     
            top: 5px;         
            right: -40px;       
            position:absolute;  
            color:#ffffff38;
            font-size:85px"
              text-left name="speedometer"></ion-icon>
            <span style="font-size:17px;">Trafik İşaretleri</span>
          </button>
        </ion-col>
        <!-- <ion-col col-12>
          <button text-wrap style="position:relative;height:100%;padding:40px 0;background: #424242;color: white"
            margin-bottom full ion-button color="light" (click)="randomTest()" icon-only>
            <ion-icon style="
            transform: rotate(30deg);     
            top: 5px;         
            right: -40px;       
            position:absolute;  
            color:#ffffff38;
            font-size:85px"
              text-left name="person"></ion-icon>
            <span style="font-size:17px;">Profilim</span>
          </button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>