<ion-navbar color="dark">
  <ion-buttons left>
    <button (click)="back()" ion-button icon-only color="royal">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title text-right>{{text}}</ion-title>
</ion-navbar>