<toolbar></toolbar>
<div style="background-color:rgb(223, 223, 223);">
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <ion-col text-left>
                <span margin-top>Test Adı</span>
            </ion-col>
            <ion-col text-center>
                <span>{{countDown | formatTime}}</span>
            </ion-col>
            <ion-col>
                <button color="primary" (click)="getReplyData()" outline no-margin float-right ion-button>
                    Bitir
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div style="overflow:scroll !important;max-height:100%;">
    <example-card [data]="data"></example-card>
</div>